In [2]:
import pandas as pd

In [3]:
seeds = pd.read_csv('NCAATourneySeeds.csv')
# seeds.head()
teams = pd.read_csv('Teams.csv')
regSeason = pd.read_csv('RegularSeasonCompactResults.csv')
regSeasonDetailed = pd.read_csv('RegularSeasonDetailedResults.csv')
tourneyResults = pd.read_csv('NCAATourneyCompactResults.csv')
confTourney = pd.read_csv('ConferenceTourneyGames.csv')

In [4]:
print(regSeasonDetailed.head())
# print(teams.head())

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003      10     1104      68     1328      62    N      0    27    58
1    2003      10     1272      70     1393      63    N      0    26    62
2    2003      11     1266      73     1437      61    N      0    24    58
3    2003      11     1296      56     1457      50    N      0    18    38
4    2003      11     1400      77     1208      71    N      0    30    61

  ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0 ...      10    16    22   10   22     8   18     9     2   20
1 ...      24     9    20   20   25     7   12     8     6   16
2 ...      26    14    23   31   22     9   12     2     5   23
3 ...      22     8    15   17   20     9   19     4     3   23
4 ...      16    17    27   21   15    12   10     7     1   14

[5 rows x 34 columns]

In [5]:
# tourneyResults.merge(teams, how = 'left', left_on = WTeamID, right_on = TeamID)
# tourneyResults.head()

In [6]:
LastSeason = regSeasonDetailed[regSeasonDetailed.Season == 2019]

In [7]:
LastSeason.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5463 entries, 82041 to 87503
Data columns (total 34 columns):
Season     5463 non-null int64
DayNum     5463 non-null int64
WTeamID    5463 non-null int64
WScore     5463 non-null int64
LTeamID    5463 non-null int64
LScore     5463 non-null int64
WLoc       5463 non-null object
NumOT      5463 non-null int64
WFGM       5463 non-null int64
WFGA       5463 non-null int64
WFGM3      5463 non-null int64
WFGA3      5463 non-null int64
WFTM       5463 non-null int64
WFTA       5463 non-null int64
WOR        5463 non-null int64
WDR        5463 non-null int64
WAst       5463 non-null int64
WTO        5463 non-null int64
WStl       5463 non-null int64
WBlk       5463 non-null int64
WPF        5463 non-null int64
LFGM       5463 non-null int64
LFGA       5463 non-null int64
LFGM3      5463 non-null int64
LFGA3      5463 non-null int64
LFTM       5463 non-null int64
LFTA       5463 non-null int64
LOR        5463 non-null int64
LDR        5463 non-null int64
LAst       5463 non-null int64
LTO        5463 non-null int64
LStl       5463 non-null int64
LBlk       5463 non-null int64
LPF        5463 non-null int64
dtypes: int64(33), object(1)
memory usage: 1.5+ MB

In [8]:
LastSeason.reset_index(inplace = True)
# print(LastSeason.head())

### Set up ratings dictionary

In [9]:
ratings = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] not in ratings):
        ratings[LastSeason.WTeamID[i]] = 0

### Calculate assist - turnover ratio

In [10]:
teamAst = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamAst):
        teamAst[LastSeason.WTeamID[i]] += LastSeason.WAst[i]
    else:
        teamAst[LastSeason.WTeamID[i]] = LastSeason.WAst[i]
    if (LastSeason.LTeamID[i] in teamAst):
        teamAst[LastSeason.LTeamID[i]] += LastSeason.LAst[i]
    else:
        teamAst[LastSeason.LTeamID[i]] = LastSeason.LAst[i]

In [11]:
teamTO = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamTO):
        teamTO[LastSeason.WTeamID[i]] += LastSeason.WTO[i]
    else:
        teamTO[LastSeason.WTeamID[i]] = LastSeason.WTO[i]
    if (LastSeason.LTeamID[i] in teamTO):
        teamTO[LastSeason.LTeamID[i]] += LastSeason.LTO[i]
    else:
        teamTO[LastSeason.LTeamID[i]] = LastSeason.LTO[i]

In [12]:
teamGames = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamGames):
        teamGames[LastSeason.WTeamID[i]] += 1
    else:
        teamGames[LastSeason.WTeamID[i]] = 1
    if (LastSeason.LTeamID[i] in teamGames):
        teamGames[LastSeason.LTeamID[i]] += 1
    else:
        teamGames[LastSeason.LTeamID[i]] = 1

In [13]:
teamATOratio = dict()
for i in teamGames:
    teamATOratio[i] = ((teamAst[i] / teamGames[i]) / (teamTO[i] / teamGames[i]))

### Give rankings to different leves of Assist-Turnover Ratio

In [14]:
for i in teamATOratio:
    if ((teamATOratio[i] > 0.7) and (teamATOratio[i] < 1.2)):
        print(teamATOratio[i])

0.8930957683741649
0.7154471544715447
1.0
0.8246445497630333
0.9716494845360826
1.1864406779661019
0.9907407407407407
0.8614072494669509
0.8218085106382979
1.007915567282322
0.8983957219251336
1.0488997555012225
0.9674796747967479
1.1288782816229117
0.7946210268948656
1.135204081632653
0.9713541666666667
0.9205607476635514
1.0539772727272727
1.108433734939759
1.065934065934066
0.7571801566579635
1.1925925925925926
0.905775075987842
1.0906735751295338
0.8527918781725888
0.988962472406181
1.0959232613908871
0.9182692307692307
0.7449494949494949
1.1023622047244095
0.7346938775510204
0.9288990825688074
0.954248366013072
1.0399999999999998
0.7886977886977886
1.0291777188328912
1.0869565217391304
1.0294985250737463
0.978021978021978
0.9950248756218906
0.92
1.0544554455445545
0.9956043956043956
1.1241050119331744
0.7549800796812749
1.111111111111111
1.1501272264631044
1.120734908136483
0.9098360655737705
0.9929078014184397
0.8326693227091633
0.9803921568627452
0.984375
1.0023696682464456
1.1016949152542372
1.053932584269663
1.0760095011876485
1.029296875
0.7098121085594989
0.8524945770065077
0.7901785714285714
0.971896955503513
0.8853333333333332
0.9619047619047619
1.1957040572792363
0.8541666666666666
0.8366336633663365
0.9349775784753364
1.1979695431472082
1.0636363636363637
0.8775510204081632
1.1908045977011494
1.002277904328018
1.0902255639097747
0.9130434782608695
1.1307506053268765
0.9195979899497488
0.9236641221374046
0.7576530612244898
0.885286783042394
1.1295336787564767
0.9322429906542057
0.8638392857142856
1.0380710659898478
1.0894495412844036
0.9197247706422018
0.9876847290640395
0.8285714285714285
1.12987012987013
1.002212389380531
0.7449494949494949
1.1111111111111112
0.9232876712328768
1.108695652173913
0.735483870967742
0.8775510204081632
1.1287425149700598
0.7470997679814385
1.0902439024390245
0.8020833333333334
0.9317647058823529
0.9209876543209877
0.8363273453093812
0.7885010266940452
1.009009009009009
1.0202247191011236
0.8803827751196173
0.835820895522388
0.936986301369863
0.7707865168539325
0.9079903147699757
0.9635036496350364
1.1259445843828715
0.8988505747126436
1.1623931623931625
0.9975786924939468
1.1338383838383839
0.7052154195011339
1.0643564356435644
0.975103734439834
1.0423529411764705
1.0
0.9121447028423773
1.1479591836734693
0.8923076923076922
1.113821138211382
1.0817307692307692
1.0085470085470085
0.8077858880778589
1.0261780104712042
1.0201511335012594
0.8668122270742359
0.9910714285714286
1.156164383561644
0.8171806167400881
0.948019801980198
0.8927613941018766
0.7905759162303665
0.7453027139874739
0.8960674157303371
0.8744493392070484
0.8948497854077254
1.099099099099099
1.0024213075060533
1.0727762803234502
0.9758454106280193
0.990498812351544
0.9819277108433734
1.0554216867469879
0.8571428571428571
1.1473429951690821
0.9529411764705882
1.1352657004830917
0.9512893982808023
0.9102564102564102
1.025974025974026
1.1784140969162995
0.825268817204301
0.8449438202247191
0.9440860215053763
0.9352331606217618
1.1856763925729443
0.9882903981264637
1.0526315789473684
1.0229357798165137
0.9282051282051282
1.080684596577017
1.1310975609756098
0.8694638694638694
1.075794621026895
0.7956730769230769
1.0414507772020725
0.8485981308411216
0.9648711943793912
1.0833333333333333
0.9311827956989247
0.8971291866028709
1.119402985074627
0.7636363636363637
1.1949860724233983
1.067605633802817
1.1962864721485411
0.8359683794466403
0.9433551198257081
0.953883495145631
0.8186274509803921
1.1173469387755102
1.0604534005037782
0.8878718535469107
0.958974358974359
0.8143564356435643
0.9776785714285714
0.8977777777777779
0.8300970873786407
0.7769784172661871
0.8753799392097265
1.1072386058981234
1.070615034168565
1.097035040431267
0.9098143236074271
0.7545454545454546
1.041025641025641
0.9907192575406033
0.966183574879227
0.974937343358396
1.093484419263456
0.9759615384615384
0.9473684210526315
0.9558823529411764
1.0359712230215827
0.9641148325358851
1.0309278350515463
1.1262886597938144
1.0457831325301206
1.0073349633251834
0.7897091722595079
1.0454545454545454
0.9548022598870055
1.0027100271002711
0.961352657004831
1.190883190883191
0.8224543080939948
1.0848329048843188
0.9800443458980045
0.9911764705882354
1.0377358490566038
1.119533527696793
0.9891891891891892
0.9925373134328359
1.1517857142857142
1.1333333333333333
0.9789156626506024
0.9119804400977995
1.0241935483870968
0.8448687350835322
0.8556263269639066
0.9123711340206185
0.7720430107526882
0.8964757709251101
0.9247311827956989
0.9343065693430658
1.0309278350515463
0.7913669064748201
0.9031413612565444
0.8913738019169329
0.8663101604278075
0.8615023474178404
0.9466950959488273
1.0383561643835617
1.0839002267573696
0.8794871794871795
0.9885057471264368
1.0678466076696165
1.1262135922330097
0.8633093525179857
0.8333333333333333
1.1310679611650485
0.9910313901345291
1.110047846889952
0.9872448979591837
0.8452655889145497
0.72
0.9947916666666665
1.080188679245283
0.8492307692307692
0.728813559322034
1.125
0.9251207729468599
1.0079787234042552
0.7951070336391437
0.9705882352941175

In [15]:
for i in teamATOratio:
    if (teamATOratio[i] > 1.5):
        ratings[i] += 15
    elif (teamATOratio[i] > 1.4):
        ratings[i] += 13
    elif (teamATOratio[i] > 1.3):
        ratings[i] += 10
    elif (teamATOratio[i] > 1.2):
        ratings[i] += 8
    elif (teamATOratio[i] > 1.1):
        ratings[i] += 6
    elif (teamATOratio[i] > 1.0):
        ratings[i] += 4
    elif (teamATOratio[i] > 0.9):
        ratings[i] += 2
    elif (teamATOratio[i] > 0.8):
        ratings[i] += 1

### Calculate Offensive Efficency
#### Possessions = FGA - OR + T + (0.4 * FTA)

In [16]:
teamPoss = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamPoss):
        teamPoss[LastSeason.WTeamID[i]] += (LastSeason.WFGA[i] - LastSeason.WOR[i] + LastSeason.WTO[i] + (0.4 * LastSeason.WFTA[i]))
    else:
        teamPoss[LastSeason.WTeamID[i]] = (LastSeason.WFGA[i] - LastSeason.WOR[i] + LastSeason.WTO[i] + (0.4 * LastSeason.WFTA[i]))
    if (LastSeason.LTeamID[i] in teamPoss):
        teamPoss[LastSeason.LTeamID[i]] += (LastSeason.LFGA[i] - LastSeason.LOR[i] + LastSeason.LTO[i] + (0.4 * LastSeason.LFTA[i]))
    else:
        teamPoss[LastSeason.LTeamID[i]] = (LastSeason.LFGA[i] - LastSeason.LOR[i] + LastSeason.LTO[i] + (0.4 * LastSeason.LFTA[i]))

In [17]:
teamPts = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamPts):
        teamPts[LastSeason.WTeamID[i]] += LastSeason.WScore[i]
    else:
        teamPts[LastSeason.WTeamID[i]] = LastSeason.WScore[i]
    if (LastSeason.LTeamID[i] in teamPts):
        teamPts[LastSeason.LTeamID[i]] += LastSeason.LScore[i]
    else:
        teamPts[LastSeason.LTeamID[i]] = LastSeason.LScore[i]

In [18]:
teamOffEff = dict()
for i in teamPts:
    teamOffEff[i] = ((teamPts[i] / teamPoss[i]) * 100)

### Determine ratings for offensive efficiency

In [19]:
for i in teamOffEff:
    if (teamOffEff[i] > 120):
        ratings[i] += 20
    elif (teamOffEff[i] > 115):
        ratings[i] += 18
    elif (teamOffEff[i] > 110):
        ratings[i] += 13
    elif (teamOffEff[i] > 105):
        ratings[i] += 10
    elif (teamOffEff[i] > 100):
        ratings[i] += 7
    elif (teamOffEff[i] > 95):
        ratings[i] += 4
    elif (teamOffEff[i] > 90):
        ratings[i] += 2

### Calculate Defensive Efficiency

In [20]:
teamOppPoss = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOppPoss):
        teamOppPoss[LastSeason.WTeamID[i]] += (LastSeason.LFGA[i] - LastSeason.LOR[i] + LastSeason.LTO[i] + (0.4 * LastSeason.LFTA[i]))
    else:
        teamOppPoss[LastSeason.WTeamID[i]] = (LastSeason.LFGA[i] - LastSeason.LOR[i] + LastSeason.LTO[i] + (0.4 * LastSeason.LFTA[i]))
    if (LastSeason.LTeamID[i] in teamOppPoss):
        teamOppPoss[LastSeason.LTeamID[i]] += (LastSeason.WFGA[i] - LastSeason.WOR[i] + LastSeason.WTO[i] + (0.4 * LastSeason.WFTA[i]))
    else:
        teamOppPoss[LastSeason.LTeamID[i]] = (LastSeason.WFGA[i] - LastSeason.WOR[i] + LastSeason.WTO[i] + (0.4 * LastSeason.WFTA[i]))

In [21]:
teamOppPts = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOppPts):
        teamOppPts[LastSeason.WTeamID[i]] += LastSeason.LScore[i]
    else:
        teamOppPts[LastSeason.WTeamID[i]] = LastSeason.LScore[i]
    if (LastSeason.LTeamID[i] in teamOppPts):
        teamOppPts[LastSeason.LTeamID[i]] += LastSeason.WScore[i]
    else:
        teamOppPts[LastSeason.LTeamID[i]] = LastSeason.WScore[i]

In [22]:
teamDefEff = dict()
for i in teamOppPts:
    teamDefEff[i] = ((teamOppPts[i] / teamOppPoss[i]) * 100)

### Determine Ratings for each level of defensive efficiency

In [23]:
for i in teamDefEff:
    if (teamDefEff[i] < 95):
        ratings[i] += 20
    elif (teamDefEff[i] < 100):
        ratings[i] += 15
    elif (teamDefEff[i] < 105):
        ratings[i] += 9
    elif (teamDefEff[i] < 110):
        ratings[i] += 5
    elif (teamDefEff[i] < 115):
        ratings[i] += 3
    elif (teamDefEff[i] < 120):
        ratings[i] += 1

### Calculate defensive rebounding percentage

In [24]:
teamDR = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamDR):
        teamDR[LastSeason.WTeamID[i]] += LastSeason.WDR[i]
    else:
        teamDR[LastSeason.WTeamID[i]] = LastSeason.WDR[i]
    if (LastSeason.LTeamID[i] in teamDR):
        teamDR[LastSeason.LTeamID[i]] += LastSeason.LDR[i]
    else:
        teamDR[LastSeason.LTeamID[i]] = LastSeason.LDR[i]

In [25]:
teamOppDR = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOppDR):
        teamOppDR[LastSeason.WTeamID[i]] += LastSeason.LDR[i]
    else:
        teamOppDR[LastSeason.WTeamID[i]] = LastSeason.LDR[i]
    if (LastSeason.LTeamID[i] in teamOppDR):
        teamOppDR[LastSeason.LTeamID[i]] += LastSeason.WDR[i]
    else:
        teamOppDR[LastSeason.LTeamID[i]] = LastSeason.WDR[i]

In [26]:
teamDRpct = dict()
for i in teamOppDR:
    teamDRpct[i] = (teamDR[i] / (teamDR[i] + teamOppDR[i]))

### Calculate Offensive Rebounding Percentage

In [27]:
teamOR = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOR):
        teamOR[LastSeason.WTeamID[i]] += LastSeason.WOR[i]
    else:
        teamOR[LastSeason.WTeamID[i]] = LastSeason.WOR[i]
    if (LastSeason.LTeamID[i] in teamOR):
        teamOR[LastSeason.LTeamID[i]] += LastSeason.LOR[i]
    else:
        teamOR[LastSeason.LTeamID[i]] = LastSeason.LOR[i]

In [28]:
teamOppOR = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOppOR):
        teamOppOR[LastSeason.WTeamID[i]] += LastSeason.LOR[i]
    else:
        teamOppOR[LastSeason.WTeamID[i]] = LastSeason.LOR[i]
    if (LastSeason.LTeamID[i] in teamOppOR):
        teamOppOR[LastSeason.LTeamID[i]] += LastSeason.WOR[i]
    else:
        teamOppOR[LastSeason.LTeamID[i]] = LastSeason.WOR[i]

In [29]:
teamORpct = dict()
for i in teamOppOR:
    teamORpct[i] = (teamOR[i] / (teamOR[i] + teamOppOR[i]))

### Give ratings for levels of each rebounding efficiency

In [30]:
for i in teamDRpct:
    if (teamDRpct[i] > 0.58):
        ratings[i] += 10
    elif (teamDRpct[i] > 0.56):
        ratings[i] += 8
    elif (teamDRpct[i] > 0.54):
        ratings[i] += 6
    elif (teamDRpct[i] > 0.51):
        ratings[i] += 4
    elif (teamDRpct[i] > 0.48):
        ratings[i] += 2
    elif (teamDRpct[i] > 0.45):
        ratings[i] += 1

In [31]:
for i in teamORpct:
    if (teamORpct[i] > 0.6):
        ratings[i] += 8
    elif (teamORpct[i] > 0.57):
        ratings[i] += 7
    elif (teamORpct[i] > 0.54):
        ratings[i] += 5
    elif (teamORpct[i] > 0.52):
        ratings[i] += 4
    elif (teamORpct[i] > 0.50):
        ratings[i] += 3
    elif (teamORpct[i] > 0.47):
        ratings[i] += 2  
    elif (teamORpct[i] > 0.44):
        ratings[i] += 1

In [33]:
conf = dict()
for i in confTourney.index:
    if (confTourney.WTeamID[i] not in conf):
        conf[confTourney.WTeamID[i]] = confTourney.ConfAbbrev[i]
    else:
        continue
    if (confTourney.LTeamID[i] not in conf):
        conf[confTourney.LTeamID[i]] = confTourney.ConfAbbrev[i]
    else:
        continue

In [35]:
for i in conf:
    if (conf[i] == 'pac_ten' or conf[i] == 'sec' or conf[i] == 'big_east' or conf[i] == 'acc' or 
        conf[i] == 'big_twelve' or conf[i] == 'big_ten'):
        ratings[i] += 5

### Look at ratings and compare to teams

In [36]:
teamRatings = pd.DataFrame.from_dict(ratings, orient = 'index')
teamRatings['Name'] = ''

In [37]:
teams[130:150]

     TeamID         TeamName  FirstD1Season  LastD1Season
130    1231          Indiana           1985          2019
131    1232       Indiana St           1985          2019
132    1233             Iona           1985          2019
133    1234             Iowa           1985          2019
134    1235          Iowa St           1985          2019
135    1236             IPFW           2003          2019
136    1237            IUPUI           1999          2019
137    1238       Jackson St           1985          2019
138    1239     Jacksonville           1985          2019
139    1240  Jacksonville St           1996          2019
140    1241    James Madison           1985          2019
141    1242           Kansas           1985          2019
142    1243        Kansas St           1985          2019
143    1244         Kennesaw           2006          2019
144    1245             Kent           1985          2019
145    1246         Kentucky           1985          2019
146    1247         La Salle           1985          2019
147    1248        Lafayette           1985          2019
148    1249            Lamar           1985          2019
149    1250           Lehigh           1985          2019

In [38]:
for i in teamRatings.index:
    for j in range(len(teams)):
        if (teams.TeamID[j] == i):
            teamRatings['Name'][i] = teams.TeamName[j]

C:\Users\brand\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [39]:
teamRatings.rename(columns = {0:'Rating'}, inplace = True)
# teamRatings.head()

In [40]:
teamRatings.sort_values(by=['Rating'], ascending = False, inplace = True)

### Figure out location factor

### How many close games were won

In [41]:
teamCloser = dict()
for i in range(len(LastSeason)):
    if ((LastSeason.WScore[i] - LastSeason.LScore[i]) < 6):
        if (LastSeason.WTeamID[i] in teamCloser):
            teamCloser[LastSeason.WTeamID[i]] += 1
        else:
            teamCloser[LastSeason.WTeamID[i]] = 1
        if (LastSeason.LTeamID[i] in teamCloser):
            teamCloser[LastSeason.LTeamID[i]] -= 1
        else:
            teamCloser[LastSeason.LTeamID[i]] = -1

In [42]:
for i in teamCloser:
    if (teamCloser[i] > 5):
        print(i)

1242
1312
1392
1414
1226
1245
1267
1449
1205
1209
1396
1330
1183
1308
1343
1153
1299
1422
1145

In [43]:
teamRatings[:30]

      Rating            Name
1438      66        Virginia
1211      64         Gonzaga
1277      63     Michigan St
1181      61            Duke
1314      59  North Carolina
1276      57        Michigan
1429      56         Utah St
1246      55        Kentucky
1138      55         Buffalo
1397      54       Tennessee
1439      54   Virginia Tech
1222      54         Houston
1308      53   New Mexico St
1345      53          Purdue
1305      53          Nevada
1293      52       Murray St
1458      50       Wisconsin
1403      49      Texas Tech
1125      48         Belmont
1268      47        Maryland
1243      46       Kansas St
1459      46         Wofford
1301      46        NC State
1153      45      Cincinnati
1405      45          Toledo
1414      44       UC Irvine
1437      43       Villanova
1220      43         Hofstra
1332      43          Oregon
1160      43        Colorado

In [44]:
teamRatings[teamRatings.Name == 'Northeastern']

      Rating          Name
1318      36  Northeastern

In [45]:
teamRatings[teamRatings.Name.str.contains("Miss")]

      Rating            Name
1379      40   Southern Miss
1280      39  Mississippi St
1279      39     Mississippi
1281      30        Missouri
1283      22     Missouri St
1369      15  SE Missouri St
1282      15     Missouri KC

In [187]:
seedsSeason = seeds[seeds.Season == 2017]
seedsSeason.reset_index(inplace = True)

In [188]:
seedsSeason.head()

   index  Season Seed  TeamID
0   2082    2017  W01    1437
1   2083    2017  W02    1181
2   2084    2017  W03    1124
3   2085    2017  W04    1196
4   2086    2017  W05    1438

In [189]:
teamRatings['Seed'] = ''
for i in teamRatings.index:
    for j in range(len(seedsSeason)):
        if (seedsSeason.TeamID[j] == i):
            teamRatings['Seed'][i] = seedsSeason.Seed[j]

C:\Users\brand\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [194]:
rd2 = teamRatings.copy(deep = True)
for i in rd2.index:
    if (teamRatings.Seed[i][1:] == '13' or teamRatings.Seed[i][1:] == '14' or teamRatings.Seed[i][1:] == '15' or teamRatings.Seed[i][1:] == '16'):
        teamRatings.Rating[i] = 0.75 * teamRatings.Rating[i]
    elif (teamRatings.Seed[i][1:] == '09' or teamRatings.Seed[i][1:] == '10' or teamRatings.Seed[i][1:] == '11' or teamRatings.Seed[i][1:] == '12'):
        teamRatings.Rating[i] = 0.8 * teamRatings.Rating[i]
    elif (teamRatings.Seed[i][1:] == '06' or teamRatings.Seed[i][1:] == '07' or teamRatings.Seed[i][1:] == '08'):
        teamRatings.Rating[i] = 0.85 * teamRatings.Rating[i]
    elif (teamRatings.Seed[i][1:] == '03' or teamRatings.Seed[i][1:] == '04' or teamRatings.Seed[i][1:] == '05'):
        teamRatings.Rating[i] = 0.95 * teamRatings.Rating[i]

C:\Users\brand\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\brand\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\brand\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\brand\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [230]:
rd2[rd2.Name == "Kentucky"]

      Rating      Name Seed
1246      50  Kentucky  Z02

In [7]:
import geopy

cities = pd.read_csv('Cities.csv')
gameCities = pd.read_csv('GameCities.csv')

In [11]:
cities.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [10]:
teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2019
1    1102    Air Force           1985          2019
2    1103        Akron           1985          2019
3    1104      Alabama           1985          2019
4    1105  Alabama A&M           2000          2019